name: flutter_test_application
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  desktop_drop: ^0.7.0
  file_picker: ^10.3.8
  ffmpeg_wasm: ^1.0.3
  path_provider: ^2.1.5
  cross_file: ^0.3.5+1
  gap: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/bin/linux/
    - assets/bin/windows/
